.bg {
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

#login .card {
  margin: 100px auto;
  box-shadow: 0px 0px 10px 0px #000;
}

#login .card-header h4 {
  text-align: center;
}

#register .card {
  margin: 100px auto;
  box-shadow: 0px 0px 10px 0px #000;
}

#register .card-header h4 {
  text-align: center;
}
#forgetPassword .card {
  margin: 100px auto;
  box-shadow: 0px 0px 10px 0px #000;
}

#forgetPassword .card-header h4 {
  text-align: center;
}

/* .table{
  word-break: break-all;
} */

nav {
  margin-bottom: 40px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  margin: 100px auto;
}
